<p>{{ numero | number: "1.2-5" }}</p>
<p>{{ porcentaje | percent: "1.2-2" }}</p>
<p>{{ precio | currency: "EUR" }}</p>
<p>{{ fechaActual | date: "shortTime"}}</p>

<p>{{ fechaActual | date: "dd/MM/yy HH:mm:ss"}}</p>
<p>{{ cadena | lowercase }}</p>
<p>{{ cadena | uppercase }}</p>
<!-- con js -->
<p>{{ cadena.toLowerCase() }}</p>

<!-- para transformar un array de objetos que viene en json -->
<p>{{ arrAlumnos | json}}</p>

<!-- para filtrar que es lo que muestra del array -->
<!-- muestra del elemento 2 en adelante -->
<p>{{ arrAnimales | slice: 2}}</p>
<p>{{ arrAnimales | slice: inicio: fin}}</p>

<input type="range" min="0" [max]="arrAnimales.length" (input)="cambiarValor($event,'inicio')">
<input type="range" min="0" [max]="arrAnimales.length" (input)="cambiarValor($event,'fin')">
<p>{{ arrAnimales | slice: inicio: fin}}</p>
